# "development" or "production"
NODE_ENV=<ENV>

# SECRET variable used for creating user sessions (express.js middleware)
# When SESSION_SECRET is changed, ALL the existing sessions will be DISCARDED!
# SESSION_SECRET=<SECRET>

# API & frontend host
PORT=<5000 || HOSTING_PORT>
URL=<localhost || HOSTING_URL>

# DB variables
# Examples from XAMPP (localhost)
DB_HOST=<localhost || HOSTING_DB_HOST>
DB_USER=<root || HOSTING_DB_USER>
DB_PASSWORD=<|| HOSTING_DB_USER>
DB_DATABASE=<kanban_db || HOSTING_DB_DATABASE>